.event-summary-container {
    height: 790px;
    background-color: #F5FAF8;

    .event-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 96px;

        .event-header {
            font-size: 40px;
            font-weight: 700;
            color: #336913;
            padding-top: 60px;
        }

        .event-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 700px;
            font-size: 18px;
            font-weight: 300;
            text-align: center;
        }
    }

    .event-card {
        display: flex;
        margin-left: 6%;
        flex-direction: row;
        background-color: white;
        border-radius: 30px;
        height: 320px;
        width: 1100px;

        .left-section,
        .right-section {
            flex: 1;
            max-width: 50%;
            margin: 1rem 2.5rem;
        }

        .event-date {
            font-size: 27px;
            font-weight: 600;
            color: #336913;
            margin-top: 30px;
        }

        .event-time {
            font-size: 30px;
            font-weight: 700;
        }

        .event-details {
            font-size: 16px;
            color: #222222;
            font-weight: 300;
            border-bottom: 1px solid #E2E2E2;
            padding-bottom: 1rem;
        }

        .event-btn {
            display: flex;
            flex-direction: row;
            background-color: #336913;
            padding: 10px 25px;
            border-radius: 30px;
            color: white;
            width: 230px;

            .button-text {
                padding-left: 1rem;
            }
        }

        .image-box {
            text-align: center;
            position: relative;

            .left-arrow {
                font-size: 30px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: white;
                border-radius: 10px;
                padding: 2px 3px;
                cursor: pointer;
                background-color: #336913;
                color: white;
                margin-left: 10px;
            }

            .right-arrow {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background-color: white;
                border-radius: 10px;
                cursor: pointer;
                padding: 4px 5px;
                background-color: #336913;
                color: white;
                margin-right: 10px;
            }
        }
    }

    .step-by-step-guide {
        margin: 0 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .step-item {
        width: 220px;

        .progress-line {
            background-color: #2D9444;
            height: 4.8px;
            width: 195px;
            border-radius: 20px;
        }

        .gray {
            background-color: #DDDDDD;
        }

        .step-number {
            margin-top: 1rem;
            font-size: 25px;
            font-weight: 800;
        }

        .step-description {
            font-weight: 300;
            font-size: 18px;
        }
    }
}
